# API and Database
alembic
aiofiles
fastapi
psycopg2-binary
pydantic
python-multipart
sqlalchemy
uvicorn[standard]

# Scheduling
apscheduler
schedule

# Web Scraping
aiohttp
beautifulsoup4
colorlog
lxml
matplotlib
pandas
plotly
psutil
requests

# Dashboard
numpy
streamlit

# Utilities
python-dateutil
pytz
tqdm

# Deployment
gunicorn
python-dotenv

# Testing
httpx
pytest