# API and Database
alembic
aiofiles
fastapi
psycopg2-binary
pydantic
python-multipart
sqlalchemy
uvicorn[standard]

# Scheduling
apscheduler
schedule

# Web Scraping
aiohttp
beautifulsoup4
colorlog
lxml
matplotlib
pandas
plotly
psutil
requests

# Dashboard
numpy
streamlit

# Utilities
python-dateutil
pytz
tqdm

# Authentication
python-jose[cryptography]
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
email-validator

# Deployment
gunicorn
python-dotenv

# Specific versions to avoid compatibility issues
pip==23.3

# Testing
httpx
pytest